.accordion {
  border-radius: 5px;
  overflow: hidden;
  transition: ease-in-out 200ms;
}

.accordionLabel {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: ease-in-out 300ms;
}

.accordionContent {
  max-height: 0;
  transition: ease-in-out 300ms;
}

.accordionCheckbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordionCheckbox:checked ~ .accordionContent {
  max-height: 100vh;
}

.accordionCheckbox:checked ~ .accordionLabel {
  transform: rotate(180deg);
}